<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body >

	
	<div id="wrapper">
	<% include ../partials/header %>
	 
               

	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>FAA CommTrack Home</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Home</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Comm Tracking Updates :</h5>
                    </div>
                    <div class="ibox-content inspinia-timeline">

                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-briefcase"></i>
                                    
                                    <br/>
                                    <small class="text-navy"></small>
                                </div>
                                <div class="col-xs-7 content no-top-border">
                                    <p class="m-b-xs"><strong>Version 1.0</strong></p>
                                    <ul>
                                        <li>Consultant details add</li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
		<% include ../partials/footer %>
	</div>

</body>
</html>