<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FA | CommTrack</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />


    <link href="/css/style.css" rel="stylesheet" />

    <link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <script type="text/javascript">
        $(document).ready(function () {
            Load_GetLICommpanyName();
        });
    </script>
    <script type="text/javascript">
        function Load_GetLICommpanyName() {
            $.ajax({
                type: "get",
                dataType: "json",
                url: "/CommonScript/GetLICommpanyName",
                data: "",
                success: function (results) {
                    var len = results.length;
                    for (var i = 0; i < len; i++) {
                        var id = results[i]['InsuranceBrokerID'];
                        var name = results[i]['BrokerName'];
                        $("#ddlCompanyName").append("<option value='" + id + "'>" + name + "</option>");

                    }
                }

            });
        }
    </script>
    <script type="text/javascript">

        function startCalc() {
            var sta = false;
            var GST = document.getElementById("txtGST").value;
            var TR = document.getElementById("txtTotalRevenue").value;

            if (TR != "") {
                if (GST != "") {
                    var TRWithGST = +GST + +TR;
                    var txtTrWithGST = document.getElementById("txtTrWithGST");
                    txtTrWithGST.value = "" + parseFloat(TRWithGST).toFixed(2) + "";
                }
                else {
                    var TRWithGST = +GST + +TR;
                    var txtTrWithGST = document.getElementById("txtTrWithGST");
                    txtTrWithGST.value = "" + parseFloat(TRWithGST).toFixed(2) + "";
                }
            }
            else {
                //alert("Please keying the TR W/O GST");
                document.getElementById("txtTotalRevenue").focus();
            }
        }

    </script>
    <style>
        .modal_Load {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
            display:none ;
        }
        .dataTables_processing {
            margin-top: 18px !important;
            border: 16px solid #43b5d8;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            border-bottom: 16px solid #3498db;
            width: 150px !important;
            height: 150px !important;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            margin-left: 250px;
            margin-top: 250px;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
      //  function myFunction() {
            $("form#uploadForm").submit(function (event) {

                event.preventDefault();
                var data = {};
                data.txtTrWithGST = $('#txtTrWithGST').val();

                //alert(txtTrWithGST);
                var formData = new FormData();
                formData.append('file', $('#li_file_uploads')[0].files[0]);
                //formData.append('txtTrWithGST', $('#txtTrWithGST').serialize());
               
               // var file = document.getElementById("li_file_uploads").files[0];

                formData.append("txtTrWithGST", $("#txtTrWithGST").val());
                formData.forEach(function (formd) {

                    alert(formd);
                   
                });
               // formData.append("file", file);
                //alert(JSON.stringify(formData));
              
                $.ajax({
                    url: '/Upload/add',
                    type: 'POST',
                    enctype: "multipart/form-data",
                    //files: formData,
                    data:formData,
                    contentType: false,
                    processData: false,
                    dataType: 'text', 
                    success: function () {
                        alert('Form Submitted!');
                    },
                    error: function () {
                        alert("error in ajax form submission");
                    }
                });
            });


            //var txtTrWithGST = $('#txtTrWithGST').val();
            //var txtTotalRevenue = $('#txtTotalRevenue').val();
            //var uploadfile = $('#li_file_uploads').val();
            //var txtGST = $('#txtGST').val();
            //var CompanyName = $('#ddlCompanyName option:selected').text();
            //var ddlCompanyName = $('#ddlCompanyName').val();
            //var CommType = $('#ddlCommType').val();
            //var txtStatementDate = $('#txtStatementDate').val();
            //var Uploads = $('#li_file_uploads').val();

            //var txtExchangeRate = $('#txtExchangeRate').val();
            //if (!txtTrWithGST || !txtTotalRevenue || !ddlCompanyName || !CommType || !txtStatementDate || !Uploads) {
            //    alert("TRWithGST,TotalRevenue,Company Name,Commission Type,Statement Date, Upload Files:This Fileds Should Not Empty");

            //}
            //else {

            //    var data = {};
            //    data.txtTrWithGST = $('#txtTrWithGST').val();
            //    data.txtGST = $('#txtGST').val();
            //    data.CommType = $('#ddlCommType').val();
            //    data.txtTotalRevenue = $('#txtTotalRevenue').val();
            //    data.ddlCompanyName = $('#ddlCompanyName option:selected').text();
            //    data.txtStatementDate = $('#txtStatementDate').val();
            //    data.txtExchangeRate = $('#txtExchangeRate').val();
            //    $(".modal_Load").show();
            //    $.ajax({
            //        type: "POST",
            //        url: "/Upload/add",
            //        dataType: "json",
            //        enctype: "multipart/form-data",
            //        data: data,
            //        success: function (data) {
            //            alert(data.msg);
            //            $("#uploadForm").submit();
            //            //$(".modal_Load").hide;
            //            //alert("Success");
            //            var referrer = document.referrer;
            //            parent.document.location.href = referrer;

            //            document.getElementById("ifrm_add").remove();

            //            //location.reload();
            //            // validateexcelsheet();
            //            //if (JSON.stringify(data).err_desc == 'Error') { alert("Please check your excel sheet and not  upload."); }
            //        },
            //        crossDomain: true

            //    });
            //}

        });
        //function validateexcelsheet() {

        //    $.ajax({
        //        type: "GET",
        //        url: "/Upload/add/validateexcelshee",
        //        dataType: "json",
        //        enctype: "multipart/form-data",
        //        data: "",
        //        success: function (data) {
        //            alert(JSON.stringify(data));
        //            VerifingProcess();
        //        }

        //    });

        //}

        //function VerifingProcess() {
        //    alert("VerifingProcess");
        //    $.ajax({
        //        type: "GET",
        //        url: "/Upload/add/VerifingProcess",
        //        dataType: "json",
        //        enctype: "multipart/form-data",
        //        data: "",
        //        success: function (data) {
        //            alert(JSON.stringify(data));
        //        }

        //    });

        //}
    </script>
</head>
<body>
    <div class="modal_Load" id="spinner">
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>
    </div>
    <!--action="/Upload/add"enctype="multipart/form-data" method="post"-->
    <form ref='uploadForm' id='uploadForm'   enctype = "multipart/form-data">


        <div class="row">
            <div class="col-lg-12" style=" background: #fff;">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="form-group" id="CompanyName">
                            <label class="font-normal">Company Name</label>
                            <select ID="ddlCompanyName" class="form-control">
                                <option selected="selected" value="0">--Select--</option>


                            </select>

                        </div>
                        <div class="form-group" id="CommType">
                            <label class="font-normal">Commission Type</label>
                            <select ID="ddlCommType" class="form-control">
                                <option selected="selected" value="0">--Select--</option>
                                <option value="BC + OR">BC + OR</option>
                            </select>
                        </div>
                        <div class="form-group" id="StatementDate">
                            <label class="font-normal">Statement Date</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" ID="txtStatementDate" class="form-control" placeholder="Statement Date" />
                            </div>
                        </div>
                        <div class="form-group" id="TotalRevenue">
                            <label class="font-normal">TR W/O GST</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" ID="txtTotalRevenue" name="txtTotalRevenue" onchange="startCalc();" class="form-control" placeholder="Total Revenue" />
                            </div>
                        </div>
                        <div class="form-group" id="GST">
                            <label class="font-normal">GST</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" ID="txtGST" name="txtGST" class="form-control" onchange="startCalc();" placeholder="GST" />
                            </div>
                        </div>
                        <div class="form-group" id="TR With GST">
                            <label class="font-normal">TR With GST</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" ID="txtTrWithGST" name="txtTrWithGST" class="form-control" placeholder="TR With GST" />
                            </div>
                        </div>
                        <div class="form-group" id="ExchangeRate">
                            <label class="font-normal">USD Exchange Rate</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" ID="txtExchangeRate" name="txtExchangeRate" class="form-control" placeholder="Exchange Rate" />
                            </div>
                        </div>

                        <div class="form-group" id="Upload">
                            <label class="font-normal">Upload Files</label>
                            <input type="file" name="file" ID="li_file_uploads" class="form-control" />
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                        <!--onclick="myFunction();"-->
                        <div class="ibox-footer">
                            <input type="submit" name="btnCancel" value="Cancel" id="btnCancel" class="btn btn-default pull-left">
                            <input type="submit" name="btnUploadData" value="Upload" id="btnUploadData" class="btn btn-success pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Mainly scripts -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>


    <!-- Data picker -->
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#StatementDate .input-group.date').datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "yyyy-mm-dd"
            });
        });
    </script>
</body>
</html>